// Visually hide from HTML5 boilerplate
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}



// scrollbars

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: $darkcolor;
}
