/**
 * Font Family
 */
$font-sansserif: Roboto, Arial, Helvetica, sans-serif;
$font-serif: Times, Georgia, serif;

$customfont-1: 'Favorit_n', Roboto, Arial, Helvetica, sans-serif;
$customfont-2: 'Favorit_l', Roboto, Arial, Helvetica, sans-serif;

/**
 * Font Size
 */
$base-fz: 16px;
$heading-font-size: 25px;

/**
 * Line Height
 */
$base-lh: 1.4;
$heading-line-height: 1.2;
